In [2]:
## dataset from kaggle
# https://www.kaggle.com/lava18/google-play-store-apps
import pandas as pd
import zipfile

z = zipfile.ZipFile('../datasets/google-play-store-apps.zip')

In [3]:
# 从csv读取数据
#
# 如果csv数据没有头部, 那么可以用header和names参数自定义columns名字
# df = pd.read_csv('foobar.csv', header=None, names=['foo', 'bar'])
df = pd.read_csv(z.open('googleplaystore.csv'))
z.close()

In [4]:
# head(tail) 查看数据的前(后)x条记录
df.head(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [5]:
# describe 查看数据概况(数量,期望值,方差等)
df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [6]:
# 访问相应的列(返回Series)
df["App"]

0           Photo Editor & Candy Camera & Grid & ScrapBook
1                                      Coloring book moana
2        U Launcher Lite – FREE Live Cool Themes, Hide ...
3                                    Sketch - Draw & Paint
4                    Pixel Draw - Number Art Coloring Book
                               ...
10836                                     Sya9a Maroc - FR
10837                     Fr. Mike Schmitz Audio Teachings
10838                               Parkinson Exercices FR
10839                        The SCP Foundation DB fr nn5n
10840        iHoroscope - 2018 Daily Horoscope & Astrology
Name: App, Length: 10841, dtype: object

In [7]:
# 也可以只访问选定的行
df.App[10:20]

10                            Text on Photo - Fonteee
11            Name Art Photo Editor - Focus n Filters
12                     Tattoo Name On My Photo Editor
13                              Mandala Coloring Book
14    3D Color Pixel by Number - Sandbox Art Coloring
15                    Learn To Draw Kawaii Characters
16       Photo Designer - Write your name with shapes
17                           350 Diy Room Decor Ideas
18                      FlipaClip - Cartoon animation
19                                       ibis Paint X
Name: App, dtype: object

In [8]:
# 如果需要标签label访问多行多列(返回DataFrame) 可以用loc
df.loc[:5, ["App","Rating","Installs"]]

                                                 App  Rating     Installs
0     Photo Editor & Candy Camera & Grid & ScrapBook     4.1      10,000+
1                                Coloring book moana     3.9     500,000+
2  U Launcher Lite – FREE Live Cool Themes, Hide ...     4.7   5,000,000+
3                              Sketch - Draw & Paint     4.5  50,000,000+
4              Pixel Draw - Number Art Coloring Book     4.3     100,000+
5                         Paper flowers instructions     4.4      50,000+

In [9]:
# 使用apply可以对每行的数据进行操作
df.Installs.apply(lambda x: x.replace(',','').replace('+',''))

0           10000
1          500000
2         5000000
3        50000000
4          100000
           ...
10836        5000
10837         100
10838        1000
10839        1000
10840    10000000
Name: Installs, Length: 10841, dtype: object

In [10]:
# 筛选Rating > 4.5 & Free的行
#df.query("Rating > 4.5 and Type == 'Free'")
df[(df.Rating > 4.5) & (df.Type == "Free")]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1M,"10,000+",Free,0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3 and up
13,Mandala Coloring Book,ART_AND_DESIGN,4.6,4326,21M,"100,000+",Free,0,Everyone,Art & Design,"June 26, 2018",1.0.4,4.4 and up
16,Photo Designer - Write your name with shapes,ART_AND_DESIGN,4.7,3632,5.5M,"500,000+",Free,0,Everyone,Art & Design,"July 31, 2018",3.1,4.1 and up
19,ibis Paint X,ART_AND_DESIGN,4.6,224399,31M,"10,000,000+",Free,0,Everyone,Art & Design,"July 30, 2018",5.5.4,4.1 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10810,Fr Lupupa Sermons,BUSINESS,4.8,19,21M,100+,Free,0,Everyone,Business,"June 12, 2018",1.0,4.4 and up
10820,Fr. Daoud Lamei,FAMILY,5.0,22,8.6M,"1,000+",Free,0,Teen,Education,"June 27, 2018",3.8.0,4.1 and up
10829,Bulgarian French Dictionary Fr,BOOKS_AND_REFERENCE,4.6,603,7.4M,"10,000+",Free,0,Everyone,Books & Reference,"June 19, 2016",2.96,4.1 and up
10833,Chemin (fr),BOOKS_AND_REFERENCE,4.8,44,619k,"1,000+",Free,0,Everyone,Books & Reference,"March 23, 2014",0.8,2.2 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up

In [11]:
# Series相关操作
# https://pandas.pydata.org/pandas-docs/stable/reference/series.html
df.Type.value_counts()

Free    10039
Paid      800
0           1
Name: Type, dtype: int64

In [12]:
# groupby 按字段分组 分组以后可以接Aggregation(常用的有count/mean/max/min/sum/nunique)
# select Type, count(distict App), count(distict Category), ... from table group by Type
df.groupby("Type").nunique() # 相当于count(distinct x)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
Type,,,,,,,,,,,,,
0,1,1,1,1,1,1,1,1,0,1,1,1,0
Free,8904,33,39,5803,408,20,1,1,6,115,1275,2711,33
Paid,756,30,32,423,230,15,1,91,4,72,502,344,24

In [14]:
# 也可以多个字段分组/多个Aggregation
# select Category, Type, max(Rating), min(Rating), mean(Rating), count(distinct App) from table where Rating < 5.0 group by Category, Type
df[df.Rating <= 5.0].groupby(["Category", "Type"]).agg({"Rating":["max", "min", "mean"], "App":["nunique"]})

                       Rating                    App
                          max  min      mean nunique
Category          Type
ART_AND_DESIGN    Free    5.0  3.2  4.338983      58
                  Paid    4.8  4.7  4.733333       3
AUTO_AND_VEHICLES Free    4.9  2.1  4.184722      72
                  Paid    4.6  4.6  4.600000       1
BEAUTY            Free    4.9  3.1  4.278571      42
...                       ...  ...       ...     ...
TRAVEL_AND_LOCAL  Paid    4.7  3.4  4.100000       8
VIDEO_PLAYERS     Free    4.9  1.8  4.062821     145
                  Paid    4.8  3.1  4.100000       4
WEATHER           Free    4.8  3.3  4.230882      65
                  Paid    4.8  3.8  4.371429       7

[61 rows x 4 columns]

In [20]:
# group重新转换成dataframe